$primary-color: #ffe600;
$secondary-color: #3483fa;
$container-max-width: 1200px;

$gray-scale-1: #333333; // Dark
$gray-scale-2: #666666; // Gris medio
$gray-scale-3: #999999; // Gris claro
$gray-scale-4: #eeeeee; // Gris pálido
$gray-scale-5: #ffffff; // Dark

$space-xs: 8px; // Extra Small
$space-sm: 12px; // Small
$space-md: 16px; // Medium
$space-lg: 24px; // Large
$space-xl: 32px; // Extra Large

$font-size-xxs: 10px; // Extra Extra Small
$font-size-xs: 12px; // Extra Small
$font-size-sm: 14px; // Small
$font-size-md: 16px; // Medium
$font-size-lg: 18px; // Large
$font-size-xl: 24px; // Extra Large
$font-size-xxl: 28px; // Extra Extra Large
$font-size-xxxl: 46px; // Extra Extra Extra Large

$border-radius: 4px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
