@use '@styles/variables';

.ml-product-details-skeleton {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1000px;

  &__container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: variables.$gray-scale-5;
    width: 100%;
    max-width: variables.$container-max-width;
    margin: variables.$space-md;
    border-radius: variables.$border-radius;
  }

  &__image {
    display: flex;
    flex-direction: column;
    margin: variables.$space-xl;
    width: 100%;

    &-img {
      align-self: center;
      width: 500px;
      height: 500px;
      background-color: variables.$gray-scale-4;
      border-radius: variables.$border-radius;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin: variables.$space-xl;
    width: 100%;

    &-title {
      margin: variables.$space-xl 0;
      width: 150px;
      height: 30px;
      background-color: variables.$gray-scale-4;
    }

    &-description {
      width: 100%;
      height: 200px;
      background-color: variables.$gray-scale-4;
    }
  }

  &__summary {
    width: 100%;
    margin: variables.$space-xl;

    &-condition {
      width: 20px;
      height: 10px;
      background-color: variables.$gray-scale-4;
    }

    &-title {
      width: 100%;
      height: 20px;
      background-color: variables.$gray-scale-4;
      margin: variables.$space-lg 0;
    }

    &-price {
      width: 50%;
      height: 30px;
      background-color: variables.$gray-scale-4;
      margin: variables.$space-xl 0;
    }

    &-btn {
      height: 40px;
      background-color: variables.$gray-scale-4;
      border-radius: variables.$border-radius;
      width: 100%;
    }
  }
}

@media (min-width: variables.$breakpoint-md) {
  .ml-product-details-skeleton {
    &__container {
      align-items: flex-start;
      justify-content: flex-start;
    }

    &__image {
      width: calc(70% - 32px);
      margin: variables.$space-xl 0 variables.$space-xl variables.$space-xl;
    }

    &__info {
      width: calc(70% - 32px);
      margin: variables.$space-xl 0 variables.$space-xl variables.$space-xl;
    }

    &__summary {
      width: calc(30% - 32px);
      margin: variables.$space-xl variables.$space-xl variables.$space-xl 0;
    }
  }
}
